@page "/movies/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using ManagerAPI.Shared.Helpers
@attribute [Authorize(Roles = "Administrator,Status Library User,Status Library Moderator,Status Library Administrator,Root")]

<div class="sl-movie-data">
    @if (Movie != null)
    {
        <h1 class="em-page-title">@Movie.Title</h1>
    }
    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        <div class="action-bar">
            @if (CanEdit)
            {
                <div>
                    <MudIconButton Icon="@Icons.Filled.Edit" OnClick="OpenEditMovieDialog" />
                </div>
            }
            @if (CanDelete)
            {
                <div>
                    <MudIconButton Icon="@Icons.Filled.Delete" OnClick="OpenDeleteDialog" />
                </div>
            }
            @if (CanEdit)
            {
                <div>
                    <MudIconButton Icon="@Icons.Filled.Image" OnClick="OpenEditMovieImageDialog" />
                    <MudIconButton Icon="@Icons.Filled.Category" OnClick="OpenEditMovieCategoriesDialog" />
                </div>
            }

            @if (Movie != null)
            {
                @if (Movie.IsMine)
                {
                    <div>
                        <MudIconButton Icon="@Icons.Filled.Remove" OnClick="RemoveFromMyMovies" />
                        @if (Movie.IsSeen)
                        {
                            <MudIconButton Icon="@Icons.Filled.VisibilityOff" OnClick="@(() => SetSeenStatus(false))" />
                        }
                        else
                        {
                            <MudIconButton Icon="@Icons.Filled.Visibility" OnClick="@(() => SetSeenStatus(true))" />
                        }
                    </div>
                }
                else
                {
                    <div>
                        <MudIconButton Icon="@Icons.Filled.Add" OnClick="AddToMyMovies" />
                    </div>
                }
            }
            <span class="spacer"></span>
            <div>
                <MudButton OnClick="@(() => Navigation.NavigateTo("/movies"))">Movie List</MudButton>
                <MudButton OnClick="@(() => Navigation.NavigateTo("/my-movies"))">My Movie List</MudButton>
            </div>
        </div>
        @if (Movie != null)
        {
            <MatTabGroup Class="tab-group">
                <MatTab Label="Data">
                    <div class="data">
                        <div class="data-rows">
                            <div class="data-row">
                                <strong>Description: </strong> @WriteHelper.WriteEmptyableField(Movie.Description)
                            </div>
                            <div class="data-row">
                                <strong>Release Year: </strong> @WriteHelper.WriteNullableField(Movie.ReleaseYear)
                            </div>
                            <div class="data-row">
                                <strong>Director: </strong> @WriteHelper.WriteEmptyableField(Movie.Director)
                            </div>
                            <div class="data-row">
                                <strong>Length: </strong> @WriteHelper.WriteNullableField(Movie.Length)
                            </div>
                            <div class="data-row">
                                <strong>Categories: </strong> @WriteHelper.WriteList(Movie.Categories, ", ")
                            </div>
                            <div class="data-row">
                                <strong>Number of Seen: </strong> @Movie.NumberOfSeen
                            </div>
                            @if (!string.IsNullOrEmpty(Movie.TrailerUrl))
                            {
                                <div class="data-row">
                                    <strong>
                                        <a href="@Movie.TrailerUrl">Trailer Url</a>
                                    </strong>
                                </div>
                            }
                            <div class="data-row">
                                <strong>Creation: </strong> @DateHelper.DateToString(Movie.Creation)
                            </div>
                            <div class="data-row">
                                <strong>Last Update: </strong> @DateHelper.DateToString(Movie.LastUpdate)
                            </div>
                            <div class="data-row">
                                <strong>Creator: </strong> @Movie.Creator
                            </div>
                            <div class="data-row">
                                <strong>Last Updater: </strong> @Movie.LastUpdater
                            </div>
                            <div class="data-row">
                                <strong>Added Status: </strong> @(Movie.IsMine ? "Added" : "Not Added")
                            </div>
                            @if (Movie.AddedOn != null)
                            {
                                <div class="data-row">
                                    <strong>Added on: </strong> @DateHelper.DateToString(Movie.AddedOn)
                                </div>
                            }
                            <div class="data-row">
                                <strong>Seen Status: </strong> @(Movie.IsSeen ? "Seen" : "Unseen")
                            </div>
                            @if (Movie.SeenOn != null)
                            {
                                <div class="data-row">
                                    <strong>Seen On: </strong> @DateHelper.DateToString(Movie.SeenOn)
                                </div>
                            }
                            <div class="rates">
                                @foreach (var rate in RateList)
                                {
                                    <MudIcon Class="rate-icon" Icon="@(rate <= Movie.Rate ? Icons.Filled.Star : Icons.Filled.StarBorder)" @onclick="@(() => UpdateRate(rate))" Tag="@rate"></MudIcon>
                                }
                            </div>
                        </div>
                        <div class="image">
                            <div class="picture">
                                @if (Movie.ImageData.Length == 0)
                                {
                                    <img src="/images/profile-icon.jpg" alt="@Movie.Title" />
                                }
                                else
                                {
                                    <img src="@MovieImage" alt="@Movie.ImageTitle" />
                                }
                            </div>
                        </div>
                    </div>
                </MatTab>
                <MatTab Label="Comments">
                    <div class="comments blue-label">
                        <div class="comment-list">
                            @foreach (var comment in CommentList)
                            {
                                <MovieCommentComponent Comment="@comment" Refresh="@GetComments" MovieId="@Movie.Id"></MovieCommentComponent>
                            }
                        </div>

                        <div class="input-panel">
                            <div class="col col-12 p-1">
                                <MudTextField @bind-Value="Comment" Label="Comment" FullWidth="true" Variant="Variant.Outlined" Lines="3" />
                            </div>
                            <div class="down-row">
                                <span class="spacer"></span>
                                <MudButton OnClick="SaveComment">Comment</MudButton>
                            </div>
                        </div>
                    </div>
                </MatTab>
            </MatTabGroup>
        }
    }
</div>