@page "/series/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using ManagerAPI.Shared.Helpers
@attribute [Authorize(Roles = "Administrator,Status Library User,Status Library Moderator,Status Library Administrator,Root")]

<div class="sl-series-data">
    @if (Series != null)
    {
        <h1 class="em-page-title">@Series.Title</h1>
    }
    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        <div class="action-bar">
            @if (CanAddOrEdit)
            {
                <div>
                    <MudIconButton Icon="@Icons.Filled.Edit" OnClick="OpenEditSeriesDialog" />
                </div>
            }
            @if (CanDelete)
            {
                <div>
                    <MudIconButton Icon="@Icons.Filled.Delete" OnClick="OpenDeleteDialog" />
                </div>
            }
            @if (CanAddOrEdit)
            {
                <div>
                    <MudIconButton Icon="@Icons.Filled.Image" OnClick="OpenEditSeriesImageDialog" />
                    <MudIconButton Icon="@Icons.Filled.Category" OnClick="OpenEditSeriesCategoriesDialog" />
                </div>
            }

            @if (Series != null)
            {
                @if (Series.IsMine)
                {
                    <div>
                        <MudIconButton Icon="@Icons.Filled.Remove" OnClick="RemoveFromMySeriesList" />
                        @if (Series.Seasons != null && Series.Seasons.Count > 0 && Series.Seasons.Sum(x => x.Episodes.Count) > 0)
                        {
                            @if (Series.IsSeen)
                            {
                                <MudIconButton Icon="@Icons.Filled.VisibilityOff" OnClick="@(() => SetSeenStatus(false))" />
                            }
                            else
                            {
                                <MudIconButton Icon="@Icons.Filled.Visibility" OnClick="@(() => SetSeenStatus(true))" />
                            }
                        }
                    </div>
                }
                else
                {
                    <div>
                        <MudIconButton Icon="@Icons.Filled.Add" OnClick="AddToMySeriesList" />
                    </div>
                }
            }
            <span class="spacer"></span>
            <MudButton OnClick="@(() => Navigation.NavigateTo("/series"))">Series List</MudButton>
                <MudButton OnClick="@(() => Navigation.NavigateTo("/my-series"))">My Series List</MudButton>
        </div>
        @if (Series != null)
        {
            <MatTabGroup Class="tab-group">
                <MatTab Label="Data">
                    <div class="data">
                        <div class="data-rows">
                            <div class="data-row">
                                <strong>Description: </strong> @WriteHelper.WriteEmptyableField(Series.Description)
                            </div>
                            <div class="data-row">
                                <strong>Start Year: </strong> @WriteHelper.WriteNullableField(Series.StartYear)
                            </div>
                            <div class="data-row">
                                <strong>End Year: </strong> @WriteHelper.WriteNullableField(Series.EndYear)
                            </div>
                            <div class="data-row">
                                <strong>Categories: </strong> @WriteHelper.WriteList(Series.Categories, ", ")
                            </div>
                            @if (!string.IsNullOrEmpty(Series.TrailerUrl))
                            {
                                <div class="data-row">
                                    <strong>
                                        <a href="@Series.TrailerUrl">Trailer Url</a>
                                    </strong>
                                </div>
                            }
                            <div class="data-row">
                                <strong>Creation: </strong> @DateHelper.DateToString(Series.Creation)
                            </div>
                            <div class="data-row">
                                <strong>Last Update: </strong> @DateHelper.DateToString(Series.LastUpdate)
                            </div>
                            <div class="data-row">
                                <strong>Creator: </strong> @Series.Creator
                            </div>
                            <div class="data-row">
                                <strong>Last Updater: </strong> @Series.LastUpdater
                            </div>
                            <div class="data-row">
                                <strong>Added Status: </strong> @(Series.IsMine ? "Added" : "Not Added")
                            </div>
                            @if (Series.AddedOn != null)
                            {
                                <div class="data-row">
                                    <strong>Added on: </strong> @DateHelper.DateToString(Series.AddedOn)
                                </div>
                            }
                            <div class="rates">
                                @foreach (var rate in RateList)
                                {
                                    <MudIcon Class="rate-icon" Icon="@(rate <= Series.Rate ? Icons.Filled.Star : Icons.Filled.StarBorder)" @onclick="@(() => UpdateRate(rate))" Tag="@rate"></MudIcon>
                                }
                            </div>
                        </div>
                        <div class="image">
                            <div class="picture">
                                @if (Series.ImageData.Length == 0)
                                {
                                    <img src="/images/profile-icon.jpg" alt="@Series.Title" />
                                }
                                else
                                {
                                    <img src="@SeriesImage" alt="@Series.ImageTitle" />
                                }
                            </div>
                        </div>
                    </div>
                </MatTab>
                <MatTab Label="Seasons">
                    <div class="seasons">
                        @foreach (var season in Series.Seasons)
                        {
                            <div class="season">
                                <div class="head">
                                    <span>Season @season.Number</span>
                                    <span class="spacer"></span>
                                    @if (CanDelete)
                                    {
                                        <MudIconButton Icon="@Icons.Filled.Delete" OnClick="@(() => OpenDeleteSeasonDialog(season))" />
                                    }
                                </div>
                                <div class="body">
                                    <div class="episodes">
                                        @foreach (var episode in season.Episodes)
                                        {
                                            <div class="episode">
                                                <div class="ep-head">
                                                    <span>@episode.Number - @episode.Title</span>
                                                    <span class="spacer"></span>
                                                    @if (CanDelete)
                                                    {
                                                        <MudIconButton Icon="@Icons.Filled.Delete" OnClick="@(() => OpenDeleteEpisodeDialog(episode))" />
                                                    }
                                                </div>
                                                <div class="ep-body">
                                                    @episode.Description
                                                </div>
                                                <div class="ep-foot">
                                                    <span class="spacer"></span>
                                                    <MudIconButton Icon="@Icons.Filled.OpenInNew" OnClick="@(() => OpenEpisode(episode.Id))" />
                                                    @if (Series.IsMine)
                                                    {
                                                        @if (episode.Seen)
                                                        {
                                                            <MudIconButton Icon="@Icons.Filled.VisibilityOff" OnClick="@(() => SetEpisodeSeenStatus(episode.Id, false))" />
                                                        }
                                                        else
                                                        {
                                                            <MudIconButton Icon="@Icons.Filled.Visibility" OnClick="@(() => SetEpisodeSeenStatus(episode.Id, true))" />
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }

                                        @if (season.Episodes.Count == 0)
                                        {
                                            <div class="text-center">Season does not have any episode yet.</div>
                                        }

                                        <div class="episode-action">
                                            <span class="spacer"></span>
                                            @if (CanAddOrEdit)
                                            {
                                                <MudIconButton Icon="@Icons.Filled.Add" OnClick="@(() => AddIncrementedEpisode(season.Id))" />
                                            }
                                            @if (Series.IsMine)
                                            {
                                                @if (season.Episodes != null && season.Episodes.Count > 0)
                                                {
                                                    @if (season.IsSeen)
                                                    {
                                                        <MudIconButton Icon="@Icons.Filled.VisibilityOff" OnClick="@(() => SetSeasonSeenStatus(season.Id, false))" />
                                                    }
                                                    else
                                                    {
                                                        <MudIconButton Icon="@Icons.Filled.Visibility" OnClick="@(() => SetSeasonSeenStatus(season.Id, true))" />
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (Series.Seasons.Count == 0)
                        {
                            <div class="text-center">Series does not have any season yet.</div>
                        }

                        <div class="season-action">
                            <span class="spacer"></span>
                            @if (CanAddOrEdit)
                            {
                                <MudIconButton Icon="@Icons.Filled.Add" OnClick="AddIncrementedSeason" />
                            }
                        </div>
                    </div>
                </MatTab>
                <MatTab Label="Comments">
                    <div class="comments">
                        <div class="comment-list">
                            @foreach (var comment in CommentList)
                            {
                                <SeriesCommentComponent Comment="@comment" Refresh="@GetComments" SeriesId="@Series.Id"></SeriesCommentComponent>
                            }
                        </div>

                        <div class="input-panel">
                            <div class="col col-12 p-1">
                                <MudTextField @bind-Value="Comment" Label="Comment" FullWidth="true" Variant="Variant.Outlined" Lines="3" />
                            </div>
                            <div class="down-row">
                                <span class="spacer"></span>
                                <MudButton OnClick="SaveComment">Comment</MudButton>
                            </div>
                        </div>
                    </div>
                </MatTab>
            </MatTabGroup>
        }
    }
</div>