@using ManagerAPI.Shared.Enums

<div class="entity">
    <div class="data-row">
        <div class="row-header">
            <strong>Name: </strong> &nbsp; @Work.Name
            <span class="spacer"></span>
            @if (IsOpened)
            {
                <MudIconButton Icon="@Icons.Filled.ExpandLess" OnClick="@(() => IsOpened = false)" Color="Color.Primary" />
            }
            else
            {
                <MudIconButton Icon="@Icons.Filled.ExpandMore" OnClick="@(() => IsOpened = true)" Color="Color.Primary" />
            }
        </div>
    </div>
    @if (IsOpened)
    {
        <div class="data-row open-animation">
            <div class="row-header">

                <strong>Settings:</strong> <br />
                <span class="spacer"></span>
                @if (IsEditable && !IsEdit)
                {
                    <MudIconButton Icon="@Icons.Filled.Edit" OnClick="@(() => IsEdit = true)" Color="Color.Primary"
                Disabled="CheckRole(CsomorRole.Read)" />
                }
                @if (IsEditable && IsEdit)
                {
                    <MudIconButton Icon="@Icons.Filled.ArrowLeft" OnClick="@(() => IsEdit = false)" Color="Color.Primary" />
                }
            </div>
            @if (IsEdit)
            {
                <div class="row-body">
                    <div class="w-100">
                        @foreach (var table in Work.Tables)
                        {
                            <span class="box">
                                <MudCheckBox T="bool" Color="Color.Primary" Checked="table.IsActive"
                        CheckedChanged="@((val) => ChangeIsActiveStatus(table, val))"
                        Label="@ManagerAPI.Shared.Helpers.WriteHelper.HourInterval(table.Date, 1)" />
                            </span>
                        }
                    </div>
                </div>

            }
            else
            {
                <div class="row-body">
                    <div class="data-row">
                        <strong>Hour statuses: </strong>
                        <div class="row-body">
                            @foreach (var table in Work.Tables)
                            {
                                <div class="data-row">
                                    <strong>@ManagerAPI.Shared.Helpers.WriteHelper.HourInterval(table.Date, 1): </strong>
                                    @(table.IsActive ? "Active" : "Not Active")
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>