@page "/my-tasks"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@using ManagerAPI.Shared.Helpers


<div class="em-my-tasks w-100 blue-label">
    <h1 class="em-page-title">My Tasks</h1>
    <div class="action-bar">
        <div>
            <MudIconButton Icon="@Icons.Filled.Add" OnClick="OpenAddTaskModal" />
        </div>
        <span class="spacer"></span>
        <MudSelect T="bool?" Value="IsSolvedSelectorValue" Label="Is solved" Variant="Variant.Outlined"
            ValueChanged="IsSolvedSelectorValueChanged">
            <MudSelectItem T="bool?" Value="null">-</MudSelectItem>
            <MudSelectItem T="bool?" Value="true">Only solved</MudSelectItem>
            <MudSelectItem T="bool?" Value="false">Not only solved</MudSelectItem>
        </MudSelect>
    </div>

    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        @if (TaskList != null && TaskList.Count > 0)
        {
            @foreach (var group in TaskList)
            {
                <div class="date-groups @(group.OutOfRange ? "out-of-range" : "standard") @(group.AllSolved ? "all-solved" : "")">
                    <div class="date">@DateHelper.DateToDayString(group.Deadline)</div>
                    @foreach (var task in group.TaskList)
                    {
                        <div class="task @(task.IsSolved && !group.AllSolved ? "solved" : "")">
                            <div class="title">
                                <span class="text">@task.Title</span>
                                <span class="spacer"></span>
                                <MudSwitch T="bool" Checked="@task.IsSolved"
                    CheckedChanged="@(e => IsSolvedChanged(e, task.Id, group))" />
                            </div>
                            <div class="description">
                                <div class="description-text">@task.Description</div>
                                <div class="description-button">
                                    <div class="wrapper">
                                        <span class="spacer"></span>
                                        <MudIconButton Icon="@Icons.Filled.Edit" OnClick="@(() => OpenUpdateTaskModal(task.Id))" />
                                        <MudIconButton Icon="@Icons.Filled.Delete" OnClick="@(() => OpenDeleteModal(task))" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div>You does not have any task. Thats cool :)</div>
        }
    }
</div>