@using EventManager.Client.Enums
@using ManagerAPI.Shared.Enums
@typeparam TList

@if (Header != null)
{
    <div class="list">
        @if (ShowFilter)
        {
            <div class="filter blue-label mb-3">
                <MudTextField T="string" FullWidth="true" Label="Filter" Variant="Variant.Outlined" ValueChanged="@(val => Filter(val))" />
            </div>
        }
        <table>
            <thead>
                <tr>
                    @foreach (var head in Header)
                    {
                        <th @onclick="@(() => HeaderClick(head))" class="@(head.HeaderAlignment == Alignment.Left ? "left" : head.HeaderAlignment == Alignment.Center ? "center" : head.HeaderAlignment == Alignment.Right ? "right" : "")">
                            @head.DisplayName
                            @if (OrderBy != null && OrderBy.PropertyName == head.PropertyName)
                            {
                                @if (Direction != OrderDirection.None)
                                {
                                    <span>&nbsp;</span>
                                    <MudIcon Class="arrow-icon small-icon" Icon="@(OrderDirectionService.GetValue(Direction) == "asc" ? Icons.Filled.ArrowDownward : Icons.Filled.ArrowUpward)"/>
                                }
                            }
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var body in DisplayList)
                {
                    <tr @onclick="@(() => RowClick(body))" class="@(IsSelectionEnabled && SelectedIndexes.Contains(body.Id) ? "selected" : "")">
                        @foreach (var head in Header)
                        {
                            <td class="@(head.HeaderAlignment == Alignment.Left ? "left" : head.HeaderAlignment == Alignment.Center ? "center" : head.HeaderAlignment == Alignment.Right ? "right" : "")">@head.Displaying(GetProperty(body, head.PropertyName))</td>
                        }
                    </tr>
                }
            </tbody>
            @if (FooterDisplay)
            {
                <tfoot>
                    <tr>
                        @foreach (var head in Header)
                        {
                            @if (head.FooterRunnableData != null)
                            {
                                <th>@head.FooterRunnableData(DisplayList)</th>
                            }
                            else if (!string.IsNullOrEmpty(head.FooterData))
                            {
                                <th>@head.FooterData</th>
                            }
                            else
                            {
                                <th></th>
                            }
                        }
                    </tr>
                </tfoot>
            }
        </table>
    </div>
}